<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <sessionState mode="Off" />
   </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
        <rewrite>
            <rules>
                <rule name="RewritePost" stopProcessing="true">
                    <match url="Rewrite" />
                    <action type="Rewrite" url="http://localhost:49485/" />
                </rule>
            </rules>  
        </rewrite>
    
  </system.webServer>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd"><!-- If you are having issues with Glimpse, please include this. It will help us figure out whats going on. 
      <logging level="Trace" />--><!-- Want to use Glimpse on a remote server? Ignore the LocalPolicy by removing this comment.
      -->
    <runtimePolicies>
      <ignoredTypes>
<!--        <add type="Glimpse.Core.Policy.AjaxPolicy, Glimpse.Core" />-->
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
</configuration>